SECRET_KEY=mundialito2026-dev-secret-key-cambiar-en-produccion
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=mysql+pymysql://sgec_app:sgec_app@192.168.56.102:13306/mundialito2026
FLASK_ENV=development